@page "/analytics-overview"
<div class="d-flex">
    <PieDiagram />
    <MudPaper class="w-50 pa-2 ">
        <MudAlert Severity="Severity.Success">The reactor was fired up successfully</MudAlert>
        <MudAlert Severity="Severity.Warning">The reactor is running at optimum temperature</MudAlert>
    </MudPaper>
</div>

<LineChart />
@code {

}
