@if (Series != null && Series.Any())
{
    <MudPaper Class="mt-4">
        <div class="row">
            <div class="col-md-3 p-4">

                <MudSelect T="int"
                           Variant="Variant.Outlined"
                           Label="Year"
                           Placeholder="Please Select"
                @bind-Value="SelectedYear">
                    @foreach (int date in Years)
                    {
                        <MudSelectItem T="int" Value="@date">@date</MudSelectItem>
                    }
                </MudSelect>

            </div>
            <div class="col-md-9 ">
                <MudChart ChartOptions="options" ChartType="ChartType.Line" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%" Height="310px"></MudChart>
            </div>
        </div>
    </MudPaper>
}
